<!--
  $Id: mmind3.css,v 1.8 2020/05/27 15:28:59 User Exp $
  GPL(C) moshahmed
-->   

x { }

body {
  background-color: Bisque;
  background-image: url('mmind3.jpg');
} 
span {
  font-size: 20px;
}

*.classW { color: black ; background-color: white; }
*.classW { color: black ; background-color: white; }
*.classB { color: white ; background-color: black; }
*.classS { visibility: hidden; }

*.class1 { color: black ; background-color: LightCoral; }
*.class2 { color: white ; background-color: RoyalBlue; }
*.class3 { color: white ; background-color: ForestGreen; }
*.class4 { color: black ; background-color: Gold; }
*.class5 { color: black ; background-color: LightCoral; }
*.class6 { color: white ; background-color: Purple; }
*.class7 { color: white ; background-color: SaddleBrown; }
*.class8 { color: white ; background-color: Olive; }
*.class9 { color: black ; background-color: Silver; }

